{% extends 'base.html' %}
{% block content %}

<form>
<div class="form-group">
    <input type="hidden" name="action" value="add" />
    <label for="prenom">Prenom</label>
    <input class="form-control" type="text" name="prenom" id="prenom" />
    <label for="nom">Nom</label>
    <input class="form-control" type="text" name="nom" id="nom" />
    <button type="button"
            class="btn btn-primary"
            hx-post="{{ url_for('update_joueur') }}"
            hx-target="#liste">Ajouter</button>
</div>
</form>

<div id="liste" name="liste">
<table class="table table-striped">
    <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th></th>
    </tr>
    {% for joueur in joueurs %}
    <tr>
        <td>{{ joueur.prenom }}</td>
        <td>{{ joueur.nom }}</td>
        <td>
            <form>
            <div class="form-group">
                <input type="hidden" name="action" id="action" value="del" />
                <input type="hidden" name="user_id" id="user_id" value="{{ joueur.id }}" />
                <button type="button" class="btn btn-outline-danger"
                            hx-post="{{ url_for('update_joueur') }}" 
                            hx-target="#liste">&times;</button>
            </div>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
</div>
{% endblock %}
