<table class="table table-striped">
    <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th></th>
    </tr>
    {% for joueur in joueurs %}
    <tr>
        <td>{{ joueur.prenom }}</td>
        <td>{{ joueur.nom }}</td>
        <td>
            <form>
            <div class="form-group">
                <input type="hidden" id="action" value="del" />
                <input type="hidden" id="user_id" value="{{ joueur.id }}" />
                <button type="button" class="btn btn-outline-danger"
                            hx-post="{{ url_for('update_joueur') }}" 
                            hx-target="#liste">&times;</button>
            </div>
            </form>
        </td>
</tr>
    {% endfor %}
</table>
